@font-face {
    font-family: jsf;
    src: url(jsf.ttf);
}
@media(max-width:700px){
.text1{
    background-color: chocolate; 
}
.text2{

    background-color:red; 
}
.meza{
    background-color: chartreuse;
}
.mytable{
    background-color: cornflowerblue;
}
}

body{
    background-image: url(rev.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1950px;
}
.docs{
    position: relative;  
   
}
 /* .nav{
    position: fixed;
    
    left: 40%;
    top: 20px;  
}  */

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color:rgb(76,153,199);
    height: 10px;
    margin-top: -10px;
    width: 98%;
    margin-left: -1px;
}
.logo{
    cursor: pointer;
    margin-left: -240px;
    margin-top: -50px;
}

.text1{
    position: absolute;
    top: 180px;
    left: 0%;
    height:500px ;
    /* width: 550px; */
    /* background: blue; */
    font-family: jsf;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}
.text2{
    position: absolute;
    float: left;
   top: 580px;
    height:500px ;
    /* width: 550px; */
    /* background: blue; */
    font-family: jsf;
    color: rgb(0, 0, 0);
    letter-spacing: 0.5px;
}

.first{
    position: absolute;
    /* background-color: bisque; */
    position: absolute;
    font-family: jsf;
    font-family:jsf ;
    font-size: 15px;
    left: 0%;
    top:1320px;
    
} 
.middle{
    /* background-color:rgb(251,251,251); */
    position: absolute;
    display: inline-block;
    /* opacity: 60%; */
    font-family: jsf;
    top: 1400px;
    left: 0%;
    width: 1050px;
    box-shadow: 0px 0px 2px 0pxrgb(251,251,251);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.myform{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    word-spacing: 4px;
}

.amount11{
    font-size: 15px;
    border: 2px solid rgb(219, 212, 212);
    font-family: jsf;
    text-align: right;
    height: 20px;
   
}
label{
    font-family: jsf;
    font-size: 15px;
    
}


.amount12{
    font-size: 15px;
    border: 2px solid rgb(219, 212, 212);
    font-family: jsf;
    text-align: right;
    height: 20px;

}
.tabb{
    border-collapse: collapse;
    width: 900px;
    height:300px ;
    color: rgb(0, 0, 0);
}

.tabb td{
    border: 2px solid black;
    height: 40px;
    margin-top: 15px;
 }
 .hr1{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    top:500px;
    border: 0px solid black;
}
.hr2{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
  top: 900px;
    border: 0px solid black;
}
.hr3{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    top:1280px;
    border: 0px solid black;
}
 .meza{
    position: absolute;
    height:300px ;
    width: 300px;
    /* background: yellow; */
    font-family: jsf;
    color: rgb(0, 0, 0);
    top: 950px;
    left: 0%;
 }
 .meza1{
    border-collapse: collapse;
    width: 500px;
}

.meza1 td{
    border: 2px solid black;
    height: 40px;
    margin-top: 15px;
 }