@font-face {
    font-family: jsf;
    src: url(jsf.ttf);
}

body{
    background-image: url(bfin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1150px;
}
.docs{
    position: relative;  
   
}
 /* .nav{
    position: fixed;
    
    left: 40%;
    top: 20px;  
}  */
li, a {
    font-family: jsf;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    
}
header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: rgb(211, 204, 204);
    height: 10px;
    margin-top: -10px;
    width: 98%;
    margin-left: -1px;
}
.logo{
    cursor: pointer;
    margin-left: -240px;
    margin-top: -50px;
}
.nav_links{
    list-style:none;

}.nav_links li{
    display: inline-block;
    padding: 8px 20px;
}
 li {
    transition: all 0.3s ease 0s;
}
 li  :hover{
    color:rgb(87, 123, 207);  
} 

.button10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button10:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
  transition: all 0.3s ease 0s;
}

hr{
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: rgb(0, 0, 0);
    top: 240%;
}
.vertical{
    position:absolute;
    border-left: 1px solid black;
    height: 960px;
    left: 50%;
    top: 179px;
    
}
.text1{
    position: absolute;
    top: 180px;
    left: 0%;
    height:500px ;
    width: 550px;
    background: blue;
    font-family: jsf;
}
.text2{
    /* position: absolute; */
    float: right;
    margin-top: 110px;
    height:500px ;
    width: 550px;
    background: blue;
    font-family: jsf;
    color: rgb(0, 0, 0);
}

.first{
    position: absolute;
    /* background-color: bisque; */
    position: absolute;
    font-family: jsf;
    font-family:jsf ;
    font-size: 15px;
    left: 0%;
    top:720px;
    
} 
.middle{
    background-color:rgb(251,251,251);
    position: absolute;
    display: inline-block;
    /* opacity: 60%; */
    font-family: jsf;
    top: 800px;
    left: 0%;
    width: 550px;
    box-shadow: 0px 0px 2px 0pxrgb(251,251,251);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.myform{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    word-spacing: 4px;
}

.amount11{
    font-size: 15px;
    border: 2px solid rgb(219, 212, 212);
    font-family: jsf;
    text-align: right;
    height: 20px;
   
}
label{
    font-family: jsf;
    font-size: 15px;
    
}


.amount12{
    font-size: 15px;
    border: 2px solid rgb(219, 212, 212);
    font-family: jsf;
    text-align: right;
    height: 20px;

}
table{
    border-collapse: collapse;
    width: 400px;
}

table td{
    border: 2px solid black;
    height: 30px;
    margin-top: 15px;
 }
 .meza{
    position: absolute;
    height:300px ;
    width: 550px;
    background: yellow;
    font-family: jsf;
    color: rgb(0, 0, 0);
    top: 770px;
    right: 1px;
 }